<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<script>
    const base_api_path = `${window.location.origin}/`;
    const user_api_path = 'user/';
    const room_api_path = 'room/';
    const request_api_path = 'request/';

    function PutContentInMainBlock (content){
        document.body.innerHTML = content;
    }

    function PutContentInBlock (blockId,content){
        document.getElementById(blockId).innerHTML = content
    }

    window.onload = () => {
        fetch(base_api_path + 'login', {method: 'GET'})
                .then(response => response.text())
                .then(view => {
            PutContentInMainBlock(view);
        });
    }

    function get_pulpit() {
        CurrentTable = 'pulpits';
        fetch(base_api_path + 'pulpits', {method: 'GET'}).then(res => res.json()).then(res => {
            let container = document.getElementById('out_info');
            container.innerHTML = '';
            res.forEach(pulpit => {
                let pulp = document.createElement('div');
                let deleteButton = document.createElement('button');
                deleteButton.setAttribute('onclick', 'deleteRecord(event)');
                deleteButton.setAttribute('ID', pulpit.PULPIT);
                deleteButton.innerText = 'Delete';
                pulp.innerHTML = `<span>${pulpit.PULPIT} - ${pulpit.PULPIT_NAME} [${pulpit.FACULTY}] </span>`;
                pulp.appendChild(deleteButton);
                container.append(pulp, document.createElement('br'));
            });

            container = document.getElementById("insert");
            container.innerHTML = '';
            container.innerHTML =
                `<div>
                    <label>
                        <input name="newData" id="id" type="text" placeholder="Id">
                    </label>
                    <label>
                        <input name="newData" id="name" type="text" placeholder="Name">
                    </label>
                    <label>
                        <input name="newData" id="faculty" type="text" placeholder="Faculty Id">
                    </label>
                 </div>
            <button onclick="submit()">Add</button>
            <button onclick="submitup()">update</button>
        `;
        });
    }

    function get_faculty() {
        CurrentTable = 'faculties';
        fetch(base_api_path + 'faculties').then(res => res.json()).then(res => {
            let container = document.getElementById('out_info');
            container.innerHTML = '';
            res.forEach(pulpit => {
                let pulp = document.createElement('div');
                let deleteButton = document.createElement('button');
                deleteButton.setAttribute('onclick', 'deleteRecord(event)');
                deleteButton.setAttribute('ID', pulpit.FACULTY);
                deleteButton.innerText = 'Delete';
                pulp.innerHTML = `<span>${pulpit.FACULTY} - ${pulpit.FACULTY_NAME}</span>`;
                pulp.appendChild(deleteButton);
                container.append(pulp, document.createElement('br'));
            });
            container = document.getElementById("insert");
            container.innerHTML = '';
            container.innerHTML = `<div>
            <label>
                <input name="newData" id="id" type="text" placeholder="Id">
            </label>
            <label>
                <input name="newData" id="name" type="text" placeholder="Name">
            </label>
        </div>
        <button onclick="submit()">Add</button>
        <button onclick="submitup()">update</button>
        `;
        });
    }

    function submitup() {
        method_for_request = 'PUT';
        let Data = Array.from(document.getElementsByName('newData')).map(a => {
            return {field: a.getAttribute('id'), value: a.value};
        });
        let ID = Data.find(a => a.field === 'id').value;
        upsert(Data, ID);

        switch (CurrentTable) {
            case 'pulpits':
                setTimeout(() => get_pulpit(), 1000);
                break;
            case 'faculties':
                setTimeout(() => get_faculty(), 1000);
                break;
            case 'subjects':
                setTimeout(() => get_subject(), 1000);
                break;
            case 'auditoriums':
                setTimeout(() => get_auditorium(), 1000);
                break;
            case 'auditoriumstypes':
                setTimeout(() => get_auditorium_type(), 1000);
                break;
        }
    }

    function submit() {
        method_for_request = 'POST';
        let Data = Array.from(document.getElementsByName('newData')).map(a => {
            return {field: a.getAttribute('id'), value: a.value};
        });
        let ID = Data.find(a => a.field === 'id').value;
        upsert(Data, ID);

        switch (CurrentTable) {
            case 'pulpits':
                setTimeout(() => get_pulpit(), 1000);
                break;
            case 'faculties':
                setTimeout(() => get_faculty(), 1000);
                break;
            case 'subjects':
                setTimeout(() => get_subject(), 1000);
                break;
            case 'auditoriums':
                setTimeout(() => get_auditorium(), 1000);
                break;
            case 'auditoriumstypes':
                setTimeout(() => get_auditorium_type(), 1000);
                break;
        }
    }

    function upsert(Data) {
        let row = '';
        switch (CurrentTable) {
            case 'pulpits':
                row = {
                    PULPIT: Data.find(a => a.field === 'id').value,
                    PULPIT_NAME: Data.find(a => a.field === 'name').value,
                    FACULTY: Data.find(a => a.field === 'faculty').value
                };
                break;
            case 'faculties':
                row = {
                    FACULTY: Data.find(a => a.field === 'id').value,
                    FACULTY_NAME: Data.find(a => a.field === 'name').value
                };
                break;
            case 'subjects':
                row = {
                    SUBJECT: Data.find(a => a.field === 'id').value,
                    SUBJECT_NAME: Data.find(a => a.field === 'name').value,
                    PULPIT: Data.find(a => a.field === 'pulpit').value
                };
                break;
            case 'auditoriums':
                row = {
                    AUDITORIUM: Data.find(a => a.field === 'id').value,
                    AUDITORIUM_NAME: Data.find(a => a.field === 'name').value,
                    AUDITORIUM_CAPACITY: Data.find(a => a.field === 'capacity').value,
                    AUDITORIUM_TYPE: Data.find(a => a.field === 'type').value
                };
                break;
            case 'auditoriumstypes':
                row = {
                    AUDITORIUM_TYPE: Data.find(a => a.field === 'id').value,
                    AUDITORIUM_TYPENAME: Data.find(a => a.field === 'name').value
                };
                break;
        }

        let controllerMethod = "";
        switch (method_for_request.toUpperCase()) {
            case "POST":
                controllerMethod = "/create"
                break;
            case "PUT":
                controllerMethod = "/update"
                break;
            case "DELETE":
                controllerMethod = "/delete"
                break;
        }

        fetch(base_api_path + CurrentTable + controllerMethod,
            {
                method: method_for_request,
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(row)
            });
    }

    function deleteRecord(event) {
        if (confirm('Are you sure you want to remove this record?')) {
            fetch(base_api_path + CurrentTable + '/delete?id=' + event.target.getAttribute('id'), {method: 'DELETE'})
        }
        switch (CurrentTable) {
            case 'pulpits':
                get_pulpit();
                break;
            case 'faculties':
                get_faculty();
                break;
            case 'subjects':
                get_subject();
                break;
            case 'auditoriums':
                get_auditorium()
                break;
            case 'auditoriumstypes':
                get_auditorium_type();
                break;
        }
    }
</script>
</body>
</html>
