<div id="new_bill_wrapper">
    <div class="center_txt large_txt" style="margin-bottom: 25px">Create new bill</div>
    <input id="bill_amount" type="number" placeholder="Total bill amount"/>
    <input id="comment" type="text" placeholder="Put comments here"/>
    <div id="bill_split"></div>
    <div id="showerror"></div>
    <div class="row">
        <input type="button" class="button green alt" onclick="CreateNewBill()" value="Create"/>
        <input type="button" class="button alt" onclick="TryConnectRoom()" value="Back"/>
    </div>
</div>
