<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu_style.css">
    <link rel="stylesheet" href="css/debt_style.css">
    <link rel="stylesheet" href="css/list_style.css">
    <link rel="stylesheet" href="css/table_style.css">
    <link rel="stylesheet" href="css/button_style.css">
    <link rel="stylesheet" href="css/form_style.css">
    <link rel="stylesheet" href="css/mobile_style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/south-street/jquery-ui.css">
    <script src="socket.io/socket.io.js"></script>
    <script src="scripts/JSFunc.js"></script>
    <script src="scripts/jquery.js"></script>
</head>
<body>
    <div id="critical_error">ERROR</div>
    <div id="content">

    </div>
<script>
</script>
</body>
</html>
